.wrapper {
  padding: 15px;
  min-width: 200px;
  max-width: 550px;
  border-radius: 5px;
  display: flex;
  background: black;
}
.wrapper .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.searchBtn {
  background: #ffec00;
  width: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}
.searchBtn .fas {
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 18px;
}
datalist {
  font-size: 2rem;
}
datalist option {
  font-size: 2rem;
}
option {
  font-size: 2rem;
}
